@tailwind base;
@tailwind components;
@tailwind utilities;


/* Importing fonts */
@font-face {
  font-family: 'ImPerfect23';
  src: url('/fonts/ImPerfect23.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DragonHunter';
  src: url('/fonts/DragonHunter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpeedBeast';
  src: url('/fonts/SpeedBeast.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BruceForeverRegular';
  src: url('/fonts/BruceForeverRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aloevera';
  src: url('/fonts/Aloevera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* globals.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #000000;
  position: relative;
  overflow-x: hidden;
}

/* 
.grid-background {
  background-image: linear-gradient(#363636 1px, transparent 0), 
                    linear-gradient(90deg, #363636 1px, transparent 0);
  background-size: 40px 40px;
  position: absolute;
  top: 50%;
  left: 49%;
  width:100%;
  height: 100%;
  z-index: 0;
  opacity: 0.9;
  box-shadow: inset 0 0 50px #3a3a3a;
  transform: translate(-50%, -50%);
}
 */



/* .main {
  position: relative;
} */

/* #scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
} */

/* #home {
  position: relative;
  z-index: 2;
} */