@tailwind base;
@tailwind components;
@tailwind utilities;


/* Importing fonts */
@font-face {
  font-family: 'ImPerfect23';
  src: url('/fonts/ImPerfect23.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DragonHunter';
  src: url('/fonts/DragonHunter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpeedBeast';
  src: url('/fonts/SpeedBeast.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BruceForeverRegular';
  src: url('/fonts/BruceForeverRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aloevera';
  src: url('/fonts/Aloevera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* globals.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #000000;
  position: relative;
  overflow-x: hidden;
}

/* Intro container styling */

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); /* Optional background color */
  z-index: 9999; /* Ensure it is above other content */
  opacity: 1;
  transition: opacity 1s ease-out;
}

/* Intro text styling */
.intro-text {
  position: relative;
}

/* Hidden text for animation */
.hidden-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-out;
}

